.App {
  text-align: center;
  padding-bottom: 500;
}

.gradient-bg {
  /* Image */

  /* width: 1440px; */
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5%;
  padding-bottom: 20%;

  background: url(../public/Gradient.png);
  background-blend-mode: darken;
}


.middle-padding {
  margin-top: 500px;
}

/* .vr{
  background-color: #FECC01;
  border-radius: 1000px;
} */
